<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Simple word count web component</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <radio-buttons
      options="Stanley,Lia,Alex,Amanda,Hassan,Haben,Marcos,Kristin,La,La,La"
    ></radio-buttons>
  </body>

  <script src="radio-buttons.js"></script>
</html>
